<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="peo">
	<div class="left-sidebar">
		<div class="left-sidebar">
						<h2>Category</h2>
						<!-- Loop -->
						<div th:each="cat : ${categories}">
							<div class="panel-group category-products" id="accordian">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian"
												href="#sportswear"> <span class="badge pull-right"><i
													class="fa fa-plus"></i></span> <span th:text="${cat.name}">baba</span>
											</a>
										</h4>
									</div>
								</div>
							</div>
						</div>
		</div>
		<!--/category-productsr-->

		<div class="brands_products">
			<!--brands_products-->
			<h2>Brands</h2>
			<div class="brands-name">
				<ul class="nav nav-pills nav-stacked">
					<li><a href=""> <span class="pull-right">(50)</span>Acne
					</a></li>
					<li><a href=""> <span class="pull-right">(56)</span>Grüne
							Erde
					</a></li>
					<li><a href=""> <span class="pull-right">(27)</span>Albiro
					</a></li>
					<li><a href=""> <span class="pull-right">(32)</span>Ronhill
					</a></li>
					<li><a href=""> <span class="pull-right">(5)</span>Oddmolly
					</a></li>
					<li><a href=""> <span class="pull-right">(9)</span>Boudestijn
					</a></li>
					<li><a href=""> <span class="pull-right">(4)</span>Rösch
							creative culture
					</a></li>
				</ul>
			</div>
		</div>
		<!--/brands_products-->

		<div class="price-range">
			<!--price-range-->
			<h2>Price Range</h2>
			<div class="well">
				<input type="text" class="span2" value="" data-slider-min="0"
					data-slider-max="600" data-slider-step="5"
					data-slider-value="[250,450]" id="sl2" /><br /> <b>$ 0</b> <b
					class="pull-right">$ 600</b>
			</div>
		</div>
		<!--/price-range-->

		<div class="shipping text-center">
			<!--shipping-->
			<img src="images/home/shipping.jpg" alt="" />
		</div>
		<!--/shipping-->
	</div>
</body>
</html>