<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: peo"></head>
<body>
	 <div id="login-setting-page" class="container">
    	<div class="bg">
    		<div class="row">  	  
	    			<div class="col-md-6 col-md-offset-3">
	    				<div class="data-setting-form">
			    			<h2 class="title text-center">USERNAME/EMAIL SETTINGS</h2>
			    			<div th:if="${emailExisting} == true" class="login-error">								
								<h6>Email address already in use</h6>
							</div>	
							<div th:if="${erroreSaveName} == true" class="login-error">								
								<h6>Error saving data</h6>
							</div>	
		    				<form action="#" th:action="@{/changeAccountSetting}" th:object="${account}" method="POST" enctype="application/json">					    	
					            <div class="form-group col-md-12">
				            		<div class="col-md-12">
				            			<div class="col-md-12">
				            				<div class="col-md-5">
				            		   	 		<h4 class="title text-left">Old Username: </h4>
				            		   		</div>
				            		   		<div class="col-md-7">	
					            				<div id="nameOld" th:text="${account.username}"></div>
					            			</div>
					            		</div>
					            		<div class="col-md-12">
					            			<div class="col-md-5">
					            				<h4 class="title text-left">New Username </h4>
					            			</div>
					            			<div class="col-md-7">
					            				<input type="text" placeholder="Email" th:name="newEmail" th:type ="text"/> 		
					            			</div>
					            		</div>
					            		<div>
					            			<button type="submit" name="action" class="pull-right" value="saveEmailChange" id="btnEmail">Save</button>
					            		</div>
				            		</div>
					            </div>
					         </form>
				         </div>			         
	    			</div>
	    		</div>  			
	    	</div>  
    	</div><!--/#contact-page-->
	<div th:replace="footer :: peo"></div>
</body>
</html>