<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header :: peo"></head>
	<body>
	 	<div id="order-page" class="container">
	    	<div class="bg">
	    		<div class="row"> 
	    				
		    		<div class="col-md-5 col-md-offset-4">
		    			<div class="forgot-password-form">
		    				<h2 class="title text-center">PASSWORD ASSISTANCE</h2>
			    			<div th:if="${invalideEmail} == true" class="login-error">								
								<h6>Your email was incorrect. Please try again.</h6>
							</div>	
			            	<form action="#" th:action="@{/step1ForgotPassword}" th:object="${account}" method="POST" enctype="application/json">
			            		<h5 class="title text-left">Enter the email address associated with your account.</h5>
			      				<input type="text" th:maxlength="45" placeholder="Email Address" class="form-control" required="required" th:name="emailControl" th:type ="email"/> 
								<div>
									<a type="submit" th:href="@{'/'}+${urlBack}" class="btn btn-default backButtonCustom" id="btnForgotPass"> Back</a>
									<button type="submit" class="pull-right">Continue</button>
								</div>
							</form>
		    			</div>
		    		</div>  			
		    	</div>  
	    	</div>	
    	</div><!--/#contact-page-->
		<div th:replace="footer :: peo"></div>
	</body>
</html>