<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header :: peo"></head>
	<body>
	 	<div id="order-page" class="container">
	    	<div class="bg">
	    		<div class="row"> 
	    				
		    		<div class="col-md-5 col-md-offset-4">
		    			<div class="forgot-password-form">
		    				<h2 class="title text-center">CREATE NEW PASSWORD</h2>
		    				<div th:if="${errorePswMatch} == true" class="login-error">								
								<h6>Passwords must match.</h6>					
							</div>
							<div th:if="${errorSave} == true" class="login-error">								
								<h6>Error saving data</h6>
							</div>	
			            	<form action="#" th:action="@{/saveNewPassword}" th:object="${account}" method="POST" enctype="application/json">
			            	<h5 class="title text-left">We'll ask for this password whenever you sign in.</h5>
							<input type="password" placeholder=" new password (at last 6 characters)" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  id="password" required="required"  th:name="pwd" th:type ="password"/> 
							<input type="password" placeholder="password again" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="pwdRepeat" required="required" th:name="pwdRepeat" th:type ="password"/> 
							<div>
								<a type="submit" th:href="@{'/manageAccount'}" class="btn btn-default backButtonCustom" id="btnStep1Forgot"> Back</a>					
								<button type="submit"  onclick="validatePassword()" class="pull-right">Save</button>	
							</div>
							</form>
		    			</div>
		    		</div>  			
		    	</div>  
	    	</div>	
    	</div><!--/#contact-page-->
		<div th:replace="footer :: peo"></div>
	</body>
</html>